body{
    background:skyblue;
    margin: 0%;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; 
}
.navbar a{
          color: rgb(17, 17, 3);
          text-decoration: none;
          font-size: 35px;
          padding: 12px;
          font-weight: bold;
          float: left;
}
.navbar{
    text-align: center;
    text-shadow: 5px 5px 10px #aaa,-5px -5px 10px #aaa;
    display: flex;
    justify-content: center;
}
.navbar a:hover{
    background: none;
    color: white;
    transform: scale(1.2);
}
.welcome{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.welcome div{
    width: 40%;
    margin: 10px;
    text-align: justify;
    line-height: 30px;
    font-size: 19px;
    font-weight: 500;
    text-shadow: 5px 5px 10px #aaa,-5px -5px 10px #aaa;
}
.welcome h1{
    font-size: 30px;
    text-shadow: 5px 5px 10px #aaa,-5px -5px 10px #aaa;

}
.welcome img{
    box-shadow: 5px 5px 10px #aaa,-5px -5px 10px #aaa;
    border: solid 2px white;
    border-radius: 10%;
}
.welcome button{
    background: black;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 10px solid #4444;
    border-radius: 30px;
}

.view{
    display: flex;
    justify-content: center;
}
.view img{
    border-radius: 20px;
}
.view div{
    background-repeat: no-repeat;
    width: 20%;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 3px 6px #bcbebb, -3px -3px 6px #bcbebb;
    text-shadow: 5px 5px 10px #aaa,-5px -5px 10px #aaa;
    border-radius: 20px;
}
.view div:hover{
    transform: scale(1.1);
}
.cultural{
    display: flex;
    justify-content: center;
}
.cultural div{
    width: 45%;
    height: 330px;
    color: black;
    margin: 10px;
    border-radius: 10px;
}
.cultural video{
    border-radius: 10px;
}
span{
    color: tomato;
}
.cultural1{
    background: url(photo/14.png);
}
